#btn {
  margin-bottom: 50px;
}

#info {
  opacity: 0;
}
.btn-style {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
